/* CSS variables for colour pallet declared in root of the page */
:root {
  --dark-blue: #1d3557;
  --blue: #457b9d;
  --light-blue: #a8dadc;
  --light: #f1faee;
  --red: #e63946;
}

/* var(--dark-blue); */

/* General Styles */
body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

/* Navbar */
.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: #009fd4; */
  background: var(--blue);
}

.logo {
  margin: 0.5em 0em 0.5em 0em;
  /* color: white; */
  /* color: var(--light); */
  color: var(--dark-navy);
  font-size: 130%;
  text-transform: sentence;
  /* background-color: navy; */
  /* background-color: var(--dark-blue); */
  background-color: var(--light);
  padding: 0.5em;
}

.navigation {
  display: flex;
}

.navigation a {
  display: block;
  padding: 1em;
  /* color: white; */
  color: var(--light);
  /* text-decoration: none; */
  text-underline-offset: 0.25em;
  text-decoration-thickness: 0.15em;
}

.navigation a:hover {
  color: var(--dark-blue);
}

/* Tablets - navbar */
@media screen and (max-width: 992px) {
  .logo {
    margin: 0.75em;
  }
  .flex-container {
    flex-direction: column;
    align-items: center;
  }
}

/* Large smartphones - navbar  */
@media screen and (max-width: 768px) {
  .navigation {
    flex-direction: column;
    width: 100%;
  }
  .navigation a {
    text-align: center;
    border-top: var(--light-blue) solid 1px;
  }
  /* .navigation a:hover {
    background: var(--blue);
  } */
}

/* Hero Image */
.hero {
  position: relative;
  /* Removes unwanted space below image */
  line-height: 0;
}

.hero img {
  max-width: 100%;
}

.hero-label {
  position: absolute;
  bottom: 1.75em;
  right: 1.5em;
  padding: 0.75em;
  background-color: var(--light);
  color: var(--dark-blue);
}

.hero-label h2 {
  font-size: 120%;
  text-transform: capitalize;
  padding: 0.25em;
}

/* Main */
section {
  padding: 1em 1em;
  display: flex;
}

.section-heading {
  border-right: var(--dark-blue) solid 2px;
  font-size: 200%;
  text-align: right;
  padding: 0.5em;
  min-width: 15%;
  /* Trying to force new line */
  /* word-spacing: 200px; */
}

.section-content {
  padding: 2em;
  flex-grow: 3;
}

.about {
  /* height: 200px; */
  /* background-color: rgba(0, 128, 0, 0.1); */
  background-color: var(--light);
}

.about-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2em;
}

.about-info p {
  padding: 0.5em;
  flex: 0 0 80%;
}

.about-info img {
  max-width: 15%;
  flex: 0 0 25%;
}

/* Large smartphones - About  */
@media screen and (max-width: 768px) {
  /* Hide hero image on smartphones */
  .hero {
    display: none;
  }
  /* Makes profile image larger on smartphones */
  .about-info img {
    max-width: 25%;
    flex: 0 0 25%;
  }
}

.work {
  /* height: 200px; */
  /* background-color: rgba(0, 0, 255, 0.1); */
  background-color: var(--light);
}

.work-examples {
  display: flex;
  flex-wrap: wrap;
}

.work-examples div:first-child {
  flex: 0 0 100%;
  max-width: 100%;
}

.work-examples div {
  flex: 0 0 50%;
  max-width: 50%;
}

.work-examples div img {
  max-width: 100%;
  padding: 0.5em;
  opacity: 0.7;
}

.work-examples div img:hover {
  opacity: 1;
}

/* Image Text Overlay */
.example {
  position: relative;
  /* text-align: center; */
  /* color: var(--dark-blue); */
}

.example-label {
  position: absolute;
  bottom: 1.75em;
  left: 0.5em;
  padding: 0.75em;
  text-transform: capitalize;
  /* background-color: white; */
  background-color: var(--light);
  /* color: black; */
  color: var(--dark-blue);
}

.example-label h3 {
  font-size: 120%;
  padding-bottom: 0.25em;
}

.example-label p {
  font-size: 80%;
  /* text-align: left; */
}

/* Tablets - Images */
@media screen and (max-width: 992px) {
  /*  */
  .work-examples {
    flex-direction: column;
  }
  .work-examples div {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/* footer */
.contact {
  /* height: 100px; */
  /* background-color: rgba(128, 128, 128, 0.1); */
  background-color: var(--blue);
}

.contact-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em;
}

.contact h2 {
  color: var(--light);
}

/* Footer link styling */
.contact-info a {
  color: var(--light);
  text-underline-offset: 0.25em;
  text-decoration-thickness: 0.15em;
}

.contact-info a:hover {
  color: var(--dark-blue);
}

/* Tablets - main and footer */
@media screen and (max-width: 992px) {
  section {
    flex-direction: column;
  }
  .section-heading {
    font-size: 150%;
    text-align: center;
    padding: 0.5em;
    border-right: none;
  }
}

/* Large smartphones - main  */
@media screen and (max-width: 768px) {
  .contact-info {
    flex-wrap: wrap;
    text-align: center;
  }
  .contact-info a {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0.5em 0em 0.5em;
  }
}
