/* General Styles */
body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

/* Navbar */
.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #009fd4;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.logo {
  margin: 1em 0 1em 1em;
  color: white;
  font-size: 120%;
  text-transform: uppercase;
}

.navigation {
  display: flex;
}

.navigation a {
  display: block;
  padding: 1em;
  color: white;
  text-decoration: none;
}

.navigation a:hover {
  color: #002835;
}

/* Tablets - navbar */
@media screen and (max-width: 992px) {
  .logo {
    margin: 0.75em;
  }
  .flex-container {
    flex-direction: column;
    align-items: center;
  }
}

/* Large smartphones - navbar  */
@media screen and (max-width: 768px) {
  .navigation {
    flex-direction: column;
    width: 100%;
  }
  .navigation a {
    text-align: center;
    border-top: gainsboro solid 1px;
  }
  .navigation a:hover {
    background: #0085b1;
  }
}

/* Hero Image */

/* Main */
section {
  padding: 1em 1em;
  display: flex;
}

.section-heading {
  border-right: navy solid 2px;
  font-size: 200%;
  text-align: right;
  padding: 0.5em;
  min-width: 15%;
  /* Trying to force new line */
  /* word-spacing: 200px; */
}

.section-content {
  padding: 2em;
  flex-grow: 3;
}

.about {
  /* height: 200px; */
  background-color: rgba(0, 128, 0, 0.1);
}

.work {
  /* height: 200px; */
  background-color: rgba(0, 0, 255, 0.1);
}

.work-examples {
  display: flex;
  flex-wrap: wrap;
}

.work-examples div:first-child {
  flex: 0 0 100%;
  max-width: 100%;
}

.work-examples div {
  flex: 0 0 50%;
  max-width: 50%;
}

.work-examples div img {
  max-width: 100%;
  padding: 0.5em;
  opacity: 0.7;
}

.work-examples div img:hover {
  opacity: 1;
}

/* Image Overlay */
.example {
  position: relative;
  text-align: center;
  color: white;
}

.example-label {
  position: absolute;
  bottom: 1.75em;
  left: 0.5em;
  padding: 0.75em;
  background-color: white;
  color: black;
}

.example-label h3 {
  font-size: 120%;
  padding-bottom: 0.25em;
}

.example-label p {
  font-size: 80%;
  text-align: left;
}

/* Tablets - Images */
@media screen and (max-width: 992px) {
  /*  */
  .work-examples {
    flex-direction: column;
  }
  .work-examples div {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/* footer */
.contact {
  /* height: 100px; */
  background-color: rgba(128, 128, 128, 0.1);
}

.contact-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em;
}

/* Footer link styling */
.contact-info a {
  color: navy;
  text-underline-offset: 0.25em;
  text-decoration-thickness: 0.15em;
}

/* Tablets - main and footer */
@media screen and (max-width: 992px) {
  section {
    flex-direction: column;
  }
  .section-heading {
    font-size: 150%;
    text-align: center;
    padding: 0.5em;
    border-right: none;
  }
}

/* Large smartphones - main  */
/* @media screen and (max-width: 768px) {
} */
